@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

.card-bg {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

/* index.css */
.swiper-button-next, .swiper-button-prev {
  color: #ffffff; /* arrow color */
}
.swiper-pagination-bullet {
  background: rgba(255,255,255,0.5);
}
